{% extends "cpanel/master_layout.html" %}
{% block content %}
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">{{ title }}</h1>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">

                    <div class="col-md-9 col-sm-12 col-xs-12">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">

                    </div>

                    <div class="clearfix"></div>
                    <br>

                    <div class="col-md-12 col-sm-12 col-xs-12 search_data">
                        <div class="row">
                            <div class="col-md-8">
                                <form method="post" action="{{url_for('PagesView:post')}}">
                                    {{form.csrf_token}}
                                    <div class="form-group">
                                        <label for="">{{form.page_title.label}}</label>
                                        {{form.page_title(class_='form-control',placeholder='Page Title')}}
                                        {% if form.page_title.errors %}
                                        {% for error in form.page_title.errors %}
                                        <small class="form-text text-muted" style='color:red;'>{{error}}</small>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{form.page_description.label}}</label>
                                        {{form.page_description(class_='form-control')}}
                                        {% if form.page_description.errors %}
                                        {% for error in form.page_description.errors %}
                                        <small class="form-text text-muted" style='color:red;'>{{error}}</small>
                                        {% endfor %}
                                        {% endif %}

                                    </div>



                                    <div class="form-group">
                                        {{form.submit(class_='btn btn-primary',value='Add Page')}}
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">

                                <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Page Title</th>
                                        <th>Page Description</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th>Page Title</th>
                                        <th>Page Description</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    </tfoot>

                                    <tbody>
                                    {% if pages %}
                                    {% for p in pages %}
                                    <tr>
                                        <td>{{p.page_title}}</td>
                                        <td>{{p.page_description}}</td>
                                                                                <td>
                                            <a href="{{url_for('PagesView:get',id=p.page_id)}}"
                                               class="btn btn-info">Update</a>
                                        </td>
                                        <td>
                                            <a href="{{url_for('PagesView:delete',id=p.page_id)}}"
                                               class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</section>


</section>
{% endblock %}