absl-py==0.10.0
alembic==1.4.2
aniso8601==8.0.0
appdirs==1.4.3
appnope==0.1.0
argcomplete==1.11.1
asgiref==3.2.7
astroid==2.3.3
astunparse==1.6.3
attrs==19.2.0
Automat==20.2.0
autopep8==1.5.3
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
bs4==0.0.1
cachelib==0.1
cachetools==4.1.0
certifi==2020.4.5
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.5.0
ciso8601==1.0.1
click==7.1.1
coala-utils==0.5.1
colorclass==2.2.0
constantly==15.1.0
coremltools==3.3
cPython==0.0.6
crypto==1.4.1
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
dateparser==1.0.0
decorator==4.4.0
defusedxml==0.6.0
dirbpy==1.8.4
distlib==0.3.0
Django==3.0.4
dnspython==1.16.0
EditorConfig==0.12.2
email-validator==1.1.1
entrypoints==0.3
facebook-scraper==0.2.17
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.1
Flask-Admin==1.5.6
Flask-Bcrypt==0.7.1
Flask-Classful==0.14.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.5.3
Flask-ReCaptcha==0.4.2
flask-serialize==1.4.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.17.1
fuzzywuzzy==0.18.0
gast==0.3.3
get==2019.4.13
google-api-core==1.20.1
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
grpcio==1.31.0
gunicorn==20.0.4
h5py==2.10.0
hyperlink==19.0.0
idna==2.9
image==1.5.28
importlib-metadata==1.5.0
incremental==17.5.0
iniconfig==1.0.1
Interlace==1.6
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
is-disposable-email==1.0.0
isort==4.3.21
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.15.1
jsbeautifier==1.10.2
JSON-log-formatter==0.3.0
json5==0.8.5
jsonschema==3.0.2
JSParser==1.0
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.1.0
jupyter-core==4.6.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
LinkFinder==1.0
llvmlite==0.34.0
lxml==4.5.0
Mako==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
marshmallow==3.9.0
marshmallow-sqlalchemy==0.24.0
matplotlib==3.2.1
mccabe==0.6.1
MechanicalSoup==0.12.0
mistune==0.8.4
more-itertools==8.2.0
mysqlclient==1.4.6
Naked==0.1.31
nbconvert==5.6.0
nbformat==4.4.0
netaddr==0.7.19
nltk==3.4.5
notebook==6.0.1
numba==0.51.0
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
panda==0.3.1
pandas==1.0.3
pandocfilters==1.4.2
parse==1.18.0
parsel==1.6.0
parso==0.5.1
pbr==5.4.4
permissive-dict==1.0.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.0.0
pipx==0.15.4.0
pluggy==0.13.1
portend==2.6
post==2019.4.13
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Protego==0.1.16
protobuf==3.12.2
ptyprocess==0.6.0
public==2019.4.13
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
pycryptodomex==3.9.8
pycurl==7.43.0.3
PyDispatcher==2.0.5
pyee==7.0.4
Pygments==2.4.2
PyHamcrest==2.0.2
pylint==2.4.4
pymongo==3.11.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.2
pyppeteer==0.2.2
pyquery==1.4.1
pyrsistent==0.15.4
pytest==6.0.1
python-dateutil==2.8.0
python-editor==1.0.4
python-Levenshtein==0.12.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==18.1.0
qtconsole==4.7.2
QtPy==1.9.0
query-string==2019.4.13
queuelib==1.5.0
regex==2020.11.13
request==2019.4.13
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
resampy==0.2.1
rsa==4.6
safeurl==0.0.7
scikit-learn==0.23.1
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shellescape==3.8.1
simplejson==3.17.0
six==1.15.0
sklearn==0.0
soupsieve==2.0
SQLAlchemy==1.3.15
SQLAlchemy-serializer==1.3.4.4
sqlathanor==0.6.0
sqlparse==0.3.1
stevedore==1.32.0
tempora==2.1.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.3
tox==3.16.0
tqdm==4.52.0
traitlets==4.3.3
turicreate==6.3
Twisted==20.3.0
twitter-scraper==0.4.4
twitterscraper==0.2.7
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.8
urlopen==1.0.0
userpath==1.4.1
validator-collection==1.5.0
validators==0.15.0
virtualenv==20.0.10
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
w3lib==1.22.0
wcwidth==0.1.7
web.py==0.40
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.0
wfuzz==2.4
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.2.1
wtforms-validators==1.0.0
xlrd==1.2.0
zc.lockfile==2.0
zipp==3.1.0
zope.interface==5.1.0
