{% extends "frontend/masterlayout.html" %}
{% block content %}



<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Our Customers</h1>
                            <ol class="breadcrumb">
                                <li><a href="{{url_for('FrontEndView:index')}}">Home</a></li>
                                <li class="active">Our Customers</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->


<!-- section -->
<div class="section padding_layout_1 testmonial_section white_fonts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2 style="text-transform: none;">What Clients Say?</h2>
                        <p class="large">Here are testimonials from clients..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="full">


                                <div style="margin:20px;" class="testimonial-container">
                                    <div class="testimonial-content" ><span style="color:black;"> You guys rock! Thank you for making it painless,
                                        pleasant and most of all hassle free! I wish I would have thought of it first.
                                        I am really satisfied with my first laptop service.
                                        </span>
                                    </div>
                                    <div class="testimonial-photo"><img src="https://i.dawn.com/medium/2020/11/5fba09522ddde.jpg"
                                                                        class="img-responsive" alt="#" width="150"
                                                                        height="150"></div>
                                    <div class="" style="color:black;">
                                        <h4 style="color:black;">Maria Anderson</h4>
                                        <span style="color:gray;" class="testimonial-position">CFO, Tech NY</span></div>
                                </div>

                                <div style="margin:20px;" class="testimonial-container">
                                    <div class="testimonial-content"> You guys rock! Thank you for making it painless,
                                        pleasant and most of all hassle free! I wish I would have thought of it first.
                                        I am really satisfied with my first laptop service.
                                    </div>
                                    <div class="testimonial-photo"><img src="https://i.dawn.com/medium/2020/11/5fba09522ddde.jpg"
                                                                        class="img-responsive" alt="#" width="150"
                                                                        height="150"></div>
                                    <div class="testimonial-meta">
                                        <h4>Maria Anderson</h4>
                                        <span class="testimonial-position">CFO, Tech NY</span></div>
                                </div>

                                <div style="margin:20px;" class="testimonial-container">
                                    <div class="testimonial-content"> You guys rock! Thank you for making it painless,
                                        pleasant and most of all hassle free! I wish I would have thought of it first.
                                        I am really satisfied with my first laptop service.
                                    </div>
                                    <div class="testimonial-photo"><img src="https://i.dawn.com/medium/2020/11/5fba09522ddde.jpg"
                                                                        class="img-responsive" alt="#" width="150"
                                                                        height="150"></div>
                                    <div class="testimonial-meta">
                                        <h4>Maria Anderson</h4>
                                        <span class="testimonial-position">CFO, Tech NY</span></div>
                                </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="full"></div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}