{% extends "frontend/masterlayout.html" %}
{% block content %}



<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Our Customers</h1>
                            <ol class="breadcrumb">
                                <li><a href="{{url_for('FrontEndView:index')}}">Home</a></li>
                                <li class="active">Our Customers</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->


<!-- section -->
<div class="section padding_layout_1 black_fonts">
    <div class="container">
        {% if data['customers'] %}
        {% for c in data['customers'] %}
        <div class="row">
            <div class="col-md-2">
                <img style="width:190px;height:180px;" src="{{url_for('static', filename='customers/')}}{{c.customer_image}}" class="img-circle" />
            </div>
            <div class="col-md-8">
                <h3>{{c.customer_name}}</h3>
                <p>{{c.customer_review}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- end section -->

{% endblock %}